.container {
  display: grid;
  grid-template-columns: 2.5fr 9.5fr;
}

@media (max-width: 1240px) {
  .container {
    grid-template-columns: 0;
  }
}

.chatContainer {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #070d07;
  color: #1a5a1a;
}

@media (max-width: 1240px) {
  .chatContainer {
    display: none;
  }
}
